@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

.parallax {
    height: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 0.4s;
}

.content {
    background-color: #fff;
    height: 100%;
    text-align: center;
}

.parallax.bg-01 {
    background-image: url(images/parallaxImages/parallaxBg-01.jpg);
}

.parallax.bg-02 {
    background-image: url(images/parallaxImages/parallaxBg-02.jpg);
}

.parallax.bg-03 {
    background-image: url(images/parallaxImages/parallaxBg-03.jpg);
}

.parallax.bg-04 {
    background-image: url(images/parallaxImages/parallaxBg-04.jpg);
}

.parallax.bg-05 {
    background-image: url(images/parallaxImages/parallaxBg-05.jpg);
}

.parallax.bg-06 {
    background-image: url(images/parallaxImages/parallaxBg-06.jpg);
}

.parallax.bg-07 {
    background-image: url(images/parallaxImages/parallaxBg-07.jpg);
}

.bg-gray-01 {
    background-image: url(images/parallaxImages/parallaxBg-01-gray.jpg) !important;
}

.bg-gray-02 {
    background-image: url(images/parallaxImages/parallaxBg-02-gray.jpg) !important;
}

.bg-gray-03 {
    background-image: url(images/parallaxImages/parallaxBg-03-gray.jpg) !important;
}

.bg-gray-04 {
    background-image: url(images/parallaxImages/parallaxBg-04-gray.jpg) !important;
}

.bg-gray-05 {
    background-image: url(images/parallaxImages/parallaxBg-05-gray.jpg) !important;
}

.bg-gray-06 {
    background-image: url(images/parallaxImages/parallaxBg-06-gray.jpg) !important;
}

.bg-gray-07 {
    background-image: url(images/parallaxImages/parallaxBg-07-gray.jpg) !important;
}

.contact_btn{
    display: block;
    width: 160px;
    height:160px;
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 8;
}

.contact {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    transition: all 0.3s ease;
    background-color: rgb(255, 255, 255);
    z-index: 10;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    padding-top: 16px;
    color: #292929;
    font-size: 25px;
    font-family: 'Didot';
    font-weight: lighter;
    text-align: center;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.contact:hover {
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.mail {
    list-style: none;
    position: fixed;
    bottom: 32px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    z-index: 9;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
}

.mail a {
    transition-delay: .1s;
    padding-top: 13px;
    color: #292929;
    font-size: 20px;
    font-family: 'Didot';
    font-weight: lighter;
    text-align: center;
    text-decoration: none;
    display: block;
    /* transition: all 0.3s ease; */
}

.facebook {
    list-style: none;
    position: fixed;
    bottom: 32px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    z-index: 9;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
}

.facebook a {
    transition-delay: .2s;
    padding-top: 11px;
    color: #292929;
    font-size: 24px;
    font-family: 'Didot';
    font-weight: lighter;
    text-align: center;
    text-decoration: none;
    display: block;
    /* transition: all 0.3s ease; */
}

.twitter {
    list-style: none;
    position: fixed;
    bottom: 32px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    z-index: 9;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
}

.twitter a {
    transition-delay: .3s;
    padding-top: 11px;
    color: #292929;
    font-size: 24px;
    font-family: 'Didot';
    font-weight: lighter;
    text-align: center;
    text-decoration: none;
    display: block;
    /* transition: all 0.3s ease; */
}

.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  transition: .3s;
  z-index: 1000;
}

.header h1 {
  margin: 0px;
}

.header h1 a {
  height: 100%;
  color: #292929;
  font-family: "Didot", sans-serif;
  font-weight: lighter;
  font-size: 50px;
  letter-spacing: 20px;
  text-align: center;
  display: table;
  margin-top: 8px;
  margin-left: 50px;
  text-decoration: none;
  transition: .3s;
}

.header h1 a span {
  display: inline-block;
  transition: .6s;
}

.header h1 a:hover span {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  transition: .6s;
}

.header h1 a:hover span:nth-of-type(1) {
  -webkit-transition-delay: .03s;
  transition-delay: .03s;
}

.header h1 a:hover span:nth-of-type(2) {
  -webkit-transition-delay: .06s;
  transition-delay: .06s;
}

.header h1 a:hover span:nth-of-type(3) {
  -webkit-transition-delay: .09s;
  transition-delay: .09s;
}

.header h1 a:hover span:nth-of-type(4) {
  -webkit-transition-delay: .12s;
  transition-delay: .12s;
  color: #fff;
}

.header h1 a:hover span:nth-of-type(5) {
  -webkit-transition-delay: .15s;
  transition-delay: .15s;
}

.about {
  width: 100%;
  background-color: #fff;
  height: 770px;
  display: table;
}

.about .aboutct {
  padding-top: 100px;
  width: 55%;
  height: 350px;
  margin: 0 auto;
  padding-top: 240px;
  display: flex;
}

.about .aboutct .icon {
  width: 350px;
  height: 350px;
}

.about .aboutct #icon-m {
  display: none !important;
}

.about .aboutct .contents {
  margin-top: 20px;
  margin-left: 60px;
}

.about .aboutct h1 {
  font-size: 40px;
  color: #292929;
  font-family: 'Didot';
  font-weight: lighter;
}

.about .aboutct .contents h2 {
  margin-top: 10px;
  font-size: 20px;
  color: #292929;
  font-family: 'Didot';
  font-weight: lighter;
}

.about .aboutct .contents h3 {
  margin-top: 20px;
  font-size: 20px;
  color: #292929;
  font-family: 'Didot';
  font-weight: lighter;
}

.about .aboutct .contents .studys img {
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  width: 50px;
}

.news {
  margin: 0 auto;
  height: 770px;
  background-color: #fff;
}

.news .news-title {
  padding-top: 100px;
  padding-bottom: 80px;
  font-size: 50px;
  color: #292929;
  font-family: 'Didot';
  font-weight: lighter;
  margin: 0 auto;
  text-align: center;
}

.news .newsct {
  width: 50%;
  height: 50%;
  padding-left: 30px;
  margin: 0 auto;
  border-left: 2px solid #292929;
  border-right: 2px solid #292929;
  overflow: scroll;
  scrollbar-base-color: #292929;
}

.news .newsct p {
  font-size: 16px;
  color: #292929;
  font-family: 'Noto Sans Japanese';
  font-weight: 200;
  line-height: 35px;
}

.news .newsct p span {
  font-weight: 700;
  color: #545454;
}

.app {
  width: 100%;
}

.app .app-title {
  padding-top: 60px;
  padding-bottom: 35px;
  font-size: 50px;
  color: #292929;
  font-family: 'Didot';
  font-weight: lighter;
  margin: 0 auto;
  text-align: center;
}

.app .contents {
  display: flex;
}

.app .iphone {
  padding-left: 250px;
}

.app .display {
  position: relative;
  padding: 0 auto;
}

.app .movie {
  position: absolute;
  left: 303px;
  top: 95px;
  width: 292px;
}

.app .explain {
  margin: 0 auto;
  padding-top: 50px;
}

.app h2 {
  font-size: 20px;
  color: #292929;
  font-family: 'Noto Sans Japanese';
  font-weight: 200;
}

.app h3 {
  font-size: 16px;
  line-height: 28px;
  color: #545454;
  font-family: 'Noto Sans Japanese';
  font-weight: 200;
}

.app h4 {
  margin-top: 20px;
  font-size: 16px;
  color: #545454;
  font-family: 'Didot';
  font-weight: lighter;
}

.app a {
  display: block;;
  font-size: 16px;
  margin-top: 50px;
  color: #292929;
  text-decoration: none;
  font-family: 'Didot';
  font-weight: lighter;
  transition: .3s;
}

.app a:hover {
  opacity: 0.7;
  transition: .3s;
}

#calm {
  background-color: #fff;
  width: 100%;
  height: 778px;
  overflow: hidden;
  margin-top: 50px;
}

#hub {
  background-color: #fff;
  width: 100%;
  height: 778px;
  overflow: hidden;
  margin-top: 50px;
}

#memorie {
  background-color: #fff;
  width: 100%;
  height: 778px;
  overflow: hidden;
  margin-top: 50px;
}

.web {
  padding-top: 100px;
  background-color: #fff;
  width: 100%;
  height: 90%;
}

.web .web-title {
  font-size: 50px;
  color: #292929;
  font-family: 'Didot';
  font-weight: lighter;
  margin: 0 auto;
  text-align: center;
}

.web img {
  width: 55%;
  display: block;
  margin: 0 auto;
  margin-top: 60px;
}

.bg-07 {
  position: relative;
}

.footer {
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: 20px;
}

.footer h1 {
  color: #fff;
  padding-top: 30px;
  margin-left: 30px;
  font-size: 20px;
  font-family: 'Didot';
  font-weight: lighter;
  display: block;
  opacity: 0.3;
  float: left;
}

.footer a:hover {
  opacity: 0.5;
  transition: 0.3s;
}

@media screen and (max-width:480px) {
  .parallax {
    background-position: center;
    height: 650px;
  }

  .header {
    flex-wrap: wrap;
  }

  .header h1 a {
    font-size: 25px;
    letter-spacing: 10px;
    margin-left: 20px;
    float: right;
  }

  .contact {
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    font-size: 34px;
    border-radius: 60px;
  }

  .about {
    height: 660px;
  }

  .about .aboutct {
    width: 90%;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 150px;
    padding: 0;
  }

  .about .aboutct .icon {
    width: 250px;
    height: 250px;
  }

  .about .aboutct #icon {
    display: none !important;
  }

  .about .aboutct #icon-m {
    display: block !important;
    margin: 0 auto;
    padding: 0;
  }

  .about .aboutct h1 {
    font-size: 25px;
  }

  .about .aboutct .contents h2 {
    margin-top: 5px;
    font-size: 12px;
  }

  .about .aboutct .contents h3 {
    margin-top: 10px;
    font-size: 12px;
  }

  .about .aboutct .contents .studys img {
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 0px;
    width: 20px;
  }

  .news .news-title {
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .news .newsct {
    width: 85%;
    height: 700px;
    border-left: none;
    border-right: none;
    padding-left: 10px;
  }

  .news .newsct p {
    font-size: 10px;
    line-height: 20px;
  }

  .app .app-title {
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 30px;
  }

  .app .contents {
    flex-wrap: wrap-reverse;
  }

  .app .iphone {
    width: 300px;
    padding: 0;
    margin-top: 20px;
  }

  .app .display {
    width: 300px;
    margin: 0 auto;
  }

  .app .explain {
    margin-left: 30px;
    padding-top: 0;
  }

  .app .movie {
    position: absolute;
    left: 40px;
    top: 97px;
    width: 218px;
  }

  .app h2 {
    font-size: 12px;
  }

  .app h3 {
    font-size: 10px;
    line-height: 15px;
  }

  .app h4 {
    margin-top: 10px;
    font-size: 10px;
  }

  .app a {
    margin-top: 10px;
    font-size: 10px;
  }

  #calm {
    height: 754px;
  }

  #hub {
    height: 720px;
  }

  #memorie {
    height: 765px;
  }

  .web .web-title {
    font-size: 30px;
  }

  .web {
    padding-top: 50px;
    height: 55%;
  }

  .web img{
    width: 100%;
    margin-top: 50px;
  }

  .footer {
    height: 50px;
    margin-bottom: 0;
  }

  .footer h1 {
    font-size: 15px;
    padding-top: 5px;
  }
}
